<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Travel</title>
</head>
<body>
	<header class="cd-header">
		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
		</a>
	</header>
	<nav>
		<ul class="cd-primary-nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="travel.html">Travel</a></li>
			<li><a href="photos.html">Photos</a></li>
		</ul>
	</nav>
	<section class="cd-intro travel">
		<div class="hide">
			<h1>TRAVEL</h1>
			<div id="arrow-down"> 
				<a href="#"><i class="fa fa-angle-down"></i></a>
			</div>
		</div>	
	</section>
	<main class="cd-main-content">
		<div id="city-index-container">
			<div id="wrapper">
				<h1>City Search</h1>
				<div class="tools">
					<label id="textSearch">Search</label>
					<input type="text" placeholder="New York" id="searchBox">
				</div>
				<div id="checkBox">
					<label class="select" for="northAmerica">North America</label>
					<input type="checkbox" id="northAmerica" value="North America">
					<label class="select">Central America</label>
					<input type="checkbox" id="central-america" value="Central America">
					<label class="select">South America</label>
					<input type="checkbox" id="south-america" value="South America">
					<label class="select">Europe</label>
					<input type="checkbox" id="europe" value="Europe">
					<label class="select">Asia</label>
					<input type="checkbox" id="asia" value="Asia">
				</div>
			</div>
		</div>	
		<div class="cd-container" id="listing">
		</div>
	</main>
	<script type="text/template" id="city-template">
		<a class= "city-container"> <div class="city-thum"><%= img %></div> <div class="details" ><h4 class="city-title"><%= title %></h4> <h4 class="city-description"><%= description %></h4></div></a>
	</script>
	<script type="text/javascript" src="js/data.json"></script>
	<script src="js/libs/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="./js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="./js/libs/backbone-min.js"></script>
	<script src="js/backbone-city.js"></script>
	<script src="js/main.js"></script>
</body>
</html>