/* Flexible Slide-to-top Accordion Style*/
.wrapper{
	width:90%;
	max-width:980px;
	margin:30px auto;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.st-accordion ul{
	margin: 0 auto;
}
.st-accordion ul li{
    height: 100px;
    width:400px;
    display: inline-block;
    border-bottom: 1px solid #4d4d4d;
    border-top:1px solid #fff;
    overflow: hidden;
    margin: 0 25px;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    font-size: 1.3em;
    display: block;
	position: relative;
    line-height: 100px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
	color:#4d4d4d;
	text-decoration: none;
	text-align: center;
}
.st-accordion ul li h3{
	text-align:left;
	text-transform: uppercase;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    text-decoration: underline;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #4d4d4d;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    font-size: 1.0em;
    line-height: 28px;
}
.st-content p a{
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 300;
}
.st-content p a:hover{
	text-decoration: underline;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}
