/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
body {
  color: black;
  font-family: 'Lato', sans-serif;
}

/* line 21, ../sass/screen.scss */
.main > section > h1 {
  text-align: center;
  margin: 25%;
}

/* line 25, ../sass/screen.scss */
.main > section > h1 > a {
  font-size: 1.9em;
  color: #4d4d4d;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 31, ../sass/screen.scss */
#container {
  height: 100%;
  width: 100%;
}

/* line 35, ../sass/screen.scss */
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 41, ../sass/screen.scss */
.main > section {
  position: absolute;
  width: 50%;
  height: 50%;
}

/* line 49, ../sass/screen.scss */
.main > section:first-child:hover,
.main > section:nth-child(2):hover,
.main > section:nth-child(3):hover,
.main > section:nth-child(4):hover {
  opacity: 0.9;
}

/* line 52, ../sass/screen.scss */
.main > section:first-child {
  top: 0;
  left: 0;
  background: #97b2b5;
}

/* line 57, ../sass/screen.scss */
.main > section:nth-child(2) {
  top: 0;
  left: 50%;
  background: #b9d5b5;
}

/* line 62, ../sass/screen.scss */
.main > section:nth-child(3) {
  top: 50%;
  left: 0;
  background: #e8ddac;
}

/* line 67, ../sass/screen.scss */
.main > section:nth-child(4) {
  top: 50%;
  left: 50%;
  background: #ecb9a1;
}

/* line 72, ../sass/screen.scss */
.about {
  background-color: #97b2b5;
  width: 100%;
  height: 100%;
}

/* line 77, ../sass/screen.scss */
.basics {
  background-color: #b9d5b5;
  width: 100%;
  height: 100%;
}

/* line 82, ../sass/screen.scss */
.travel {
  background-color: #e8ddac;
  height: 100%;
  width: 100%;
}

/* line 87, ../sass/screen.scss */
.photographs {
  background-color: #ecb9a1;
  width: 100%;
  height: 100%;
}
